* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  min-height: 20px;
}

tooltip {
  opacity: 1;

}

window#waybar {
  background-color: #131315;
  color: #e6d8ba;
  border-radius: 10px;
}

#workspaces {
  margin: 3px 2px;
  padding: 0 1px;
  background-color: #27272a;
  margin-left: 0px;
}

#workspaces button {
  margin: 0px 0px;
  padding: 0 4px;
  background-color: transparent;
  color: #e6d8ba;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}

#workspaces button:hover {
  background: #3f3f46;
  color: #000;
}

#workspaces button.active {
  background-color: #ff9b71;
  color: #000;
  margin: 0px 0px;
  padding: 0 4px;

}

#workspaces button.empty {
  color: alpha(#e6d8ba, 0.4);
  opacity: 0.45;
  transition: all 0.15s ease-in-out;
}

#workspaces button.empty.active {
  background-color: #e6d8ba;
  color: #000;
}

#window,
#clock,
#cpu,
#memory,
#mpris,
#network,
#pulseaudio,
#idle_inhibitor,
#tray,
#bluetooth,
#custom-display {
  padding: 0 8px;
  color: #e6d8ba;
  margin: 3px 4px 3px 0px;
}

#tray {
  background-color: #27272a;
}

#window {
  margin: 3px 2px;
}

#window, #memory, #clock, #idle_inhibitor, #custom-display {
background-color: #27272a;
}

@keyframes blink {
  to {
    background-color: #e6d8ba;
    color: #000000;
  }
}

#cpu {
  background-color: #27272a;
  color: #e6d8ba;
}

#mpris {
  background-color: #27272a;
  color: #e6d8ba;
}

#network {
  background-color: #27272a;
}

#network.disconnected {
  background-color: #ff9b71;
  color: #000;
}

#bluetooth {
  background-color: #27272a;
}

#bluetooth.disabled {
  background-color: #ff9b71;
  color: #000;
}

#pulseaudio {
  background-color: #27272a;
  color: #e6d8ba;
}

#pulseaudio.muted {
  background-color: #ff9b71;
  color: #000;
}

tooltip {
 padding: 4px;
 background: #27272a;
 border: 1px solid alpha(#e6d8ba, 0.8);
 border-radius: 8px;
 box-shadow: 1px 1px 3px 1px #131313;
 font-size: 12px;
}
tooltip label {
    color: #e6d8ba;
    font-weight: normal;
}

menu {
  padding: 4px;
  background: #27272a;
  border: 1px solid alpha(#e6d8ba, 0.8);
  border-radius: 8px;
}

menu menuitem {
  padding: 2px 8px;
  color: #e6d8ba;
}

menu menuitem:hover {
  background-color: #ff9b71;
  color: #000;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

@keyframes blink-inhibitor {
    to {
        color: @background;
    }
}

#idle_inhibitor {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #e6d8ba;
 }

#idle_inhibitor.activated {
  color: #178b76;
  animation-name: blink-inhibitor;
  animation-duration: 1s;
}

#mpris {
color: #e6d8ba;
font-size: 13px;
margin: 3px 2px;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
